:host {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  app-header {
    flex-shrink: 0; /* Prevent header from shrinking */
  }
  
  main {
    flex-grow: 1; /* Ensure router-outlet takes all available space */
    display: flex;
    flex-direction: column;
  }
  
  app-footer {
    flex-shrink: 0; /* Footer stays at the bottom */
  }
  