/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url('/assets/pointer.cur') 16 16, auto !important;
}


body:active {
  cursor: url('assets/pointer-click.cur') 16 16, auto !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height for the viewport */
  background: linear-gradient(to bottom, #1f2937, #111827); /* Match gradient */
  color: #fff; /* Ensure text is visible */
}
